header{
    background: #8870f1;
}

.content{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

.content .logo img{
    width: 200px;
    height: auto;
}

.imageProfile .btnProfile{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.imageProfile .btnProfile .avatar{
    width: 35px;
    height: auto;
    border-radius: 50px;
    margin-right: 5px;
}

.imageProfile .btnProfile .btnLogout{
    background: transparent;
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.imageProfile .btnProfile .btnLogout:hover{
    border-bottom: 1px solid white;
}